<!DOCTYPE html>
<html>

<body>

<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://d3js.org/topojson.v1.min.js"></script>

<link rel="stylesheet" href="../css/tip.css"/>
<link rel="stylesheet" href="../css/dashboard.css"/>

<script src="../js/d3-tip.js"></script>
<script src="../js/dashboard.js"></script>


<h1>New York City neighborhoods in the news</h1>
<h5>From March 1, 2018 to <%= date %> </h5>
<div id="list" style="display: none;">
  <span id='hidebutton'>Close</span>
  <h2 id="neighborhood_title"></h2>
  <h5 id="neighborhood_info"></h5>
  <p>Recent stories:</p>
  <ul id="storylist">
  </ul>
</div>
<div id="barchart_most"></div>
<hr/>
<div id="map">&nbsp;</div>

</body>
</html>
